.DS_Store
.idea
mini_test
src/data
src/pretrained
logs/
trained_models/
trained_models_bak/
logs_three/
trained_models_three_level/
*.log
*.out
*.err
screenlog.0
*.csv
__pycache__/
*.py[cod]
*$py.class
*.png
*.txt
*.subword
*.train
*.dev
*.test
*.model
*.vocab
MT-Preparation/
predictions/

